<div class="col-md-6" ng-controller="HomeCtrl">
  <button class="btn btn-block btn-primary" ng-click="goTo('/adjuncts')">Adjuncts</button>
  <button class="btn btn-block btn-primary" ng-click="goTo('/equipment')">Equipment</button>
  <button class="btn btn-block btn-primary" ng-click="goTo('/fermentables')">Fermentables</button>
  <button class="btn btn-block btn-primary" ng-click="goTo('/hops')">Hops</button>
  <button class="btn btn-block btn-primary" ng-click="goTo('/mashprofiles')">Mash Profiles</button>
  <button class="btn btn-block btn-primary" ng-click="goTo('/styles')">Styles</button>
  <button class="btn btn-block btn-primary" ng-click="goTo('/waterprofiles')">Water Profiles</button>
  <button class="btn btn-block btn-primary" ng-click="goTo('/yeast')">Yeast</button>
</div>
